<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Meigengift</title>
  </head>
    <body>
      <% if current_user %>
        <%= link_to user_path(current_user) do %>
          <%= render 'title' %>
        <% end %>
      <% else %>
        <%= link_to new_user_path do %>
          <%= render 'title' %>
        <% end %>
      <% end %>
  </body>
</html>
