<header class="navbar bg-light navbar-fixed-top ">
  <div class="container">
    <a class="navbar-brand text-muted" <%= link_to "Meigengift", root_path %></a>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link active text-muted" <%= link_to "Home", root_path %></a></li>
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle text-muted" data-toggle="dropdown">
                Menu <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                  
                  <li class="divider"></li>
                  <li>
                    <%= link_to "ログアウト", logout_path, method: :delete %>
                  </li>
                  <li>
                    <%= link_to "登録を削除", current_user, method: :delete,
                                  data: { confirm: "本当に削除しますか?" } %>
                  </li>
                </ul>
              </li>
          <% else %>
            <li><a class="nav-link active text-muted" <%= link_to "Log in", login_path %></a></li>
          <% end %>
        </ul>
    </nav>
  </div>
</header>
